defaults/flow2.json
[{"id":"82556102.d3ddd8","type":"ibmiot in","z":"6bdf9c2c.88223c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":161,"y":528.7143249511719,"wires":[["373916e9.b338da"]]},{"id":"e3ae439.bbf544","type":"debug","z":"6bdf9c2c.88223c","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":840,"y":597.8571395874023,"wires":[]},{"id":"16b4ac89.4179a3","type":"function","z":"6bdf9c2c.88223c","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":529.7143249511719,"wires":[["c4e43bec.42709","36eb15a1.87ded2"]]},{"id":"373916e9.b338da","type":"function","z":"6bdf9c2c.88223c","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":529.7143249511719,"wires":[["16b4ac89.4179a3"]]},{"id":"65daecc5.9dcd1c","type":"comment","z":"6bdf9c2c.88223c","name":"Incoming MSG from Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":214,"y":477.7143249511719,"wires":[]},{"id":"86416087.dd2b1","type":"inject","z":"6bdf9c2c.88223c","name":"Send On/Spray to AF","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":203,"y":685.71435546875,"wires":[["81851354.2df488"]]},{"id":"c4e43bec.42709","type":"switch","z":"6bdf9c2c.88223c","name":"What","property":"payload.appliance","propertyType":"msg","rules":[{"t":"eq","v":"LED","vt":"str"},{"t":"eq","v":"AirFreshener","vt":"str"},{"t":"eq","v":"BUTTON","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":152,"y":611.7143249511719,"wires":[["5dbb0873.1f89f8"],["ebdb7bb4.cdfad"],["739f348e.cdfa7c"],[]]},{"id":"81851354.2df488","type":"function","z":"6bdf9c2c.88223c","name":"send ON/SPRAY","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n       \"speak\": 0,\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":548,"y":585.71435546875,"wires":[["1a90339d.f5ab3c"]]},{"id":"c762fa35.38c0d8","type":"comment","z":"6bdf9c2c.88223c","name":"Send updates to Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":836.5714721679688,"y":109.99996185302734,"wires":[]},{"id":"1a90339d.f5ab3c","type":"delay","z":"6bdf9c2c.88223c","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":828.75,"y":654.6785888671875,"wires":[["e3ae439.bbf544","e22114d7.c95608"]]},{"id":"36eb15a1.87ded2","type":"debug","z":"6bdf9c2c.88223c","name":"WAResponse","active":true,"console":"true","complete":"payload","x":845,"y":528.7143249511719,"wires":[]},{"id":"ebdb7bb4.cdfad","type":"switch","z":"6bdf9c2c.88223c","name":"Status","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"af_on","vt":"str"},{"t":"eq","v":"af_connected","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":298,"y":605.7142944335938,"wires":[["81851354.2df488"],["81fa2d17.9de35"],[]]},{"id":"793367a.2fb7898","type":"inject","z":"6bdf9c2c.88223c","name":"Set global vars","topic":"Init","payload":"MVK","payloadType":"str","repeat":"","crontab":"","once":true,"x":180.57144165039062,"y":337.85709381103516,"wires":[["3676e511.8adb32"]]},{"id":"3676e511.8adb32","type":"function","z":"6bdf9c2c.88223c","name":"SET STATUS","func":"context.global.led = \"off\";\ncontext.global.status = \"offline\";\ncontext.global.prevstatus = \"offline\";\ncontext.global.myName = \"Hans\";\ncontext.global.butcnt = 0;\ncontext.global.butmancnt = 0;\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":174.57144165039062,"y":382.85709381103516,"wires":[[]]},{"id":"6a52d2c3.c606c4","type":"comment","z":"6bdf9c2c.88223c","name":"DashBoard - /ui","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":688.0000610351562,"y":298.1427917480469,"wires":[]},{"id":"be984ce8.20cc1","type":"ui_button","z":"6bdf9c2c.88223c","tab":"11423f70.af2341","name":"Button","payload":"spary","topic":"Spray","group":"Spray","order":"4","x":818.0714721679688,"y":469.2857666015625,"wires":[["81851354.2df488"]]},{"id":"774e9386.e4def4","type":"function","z":"6bdf9c2c.88223c","name":"SET LED","func":"/*{ \"d\": { \"led\": \"on\", \"tick\": 14, \"ts\": 1474419208 } }\n*/\n\nvar info =msg.payload.d.led;\nmsg.led = info;\n\n\ncontext.global.led = info;\ncontext.global.status = \"online\";\n\nvar led = context.global.led;\n\nvar text= \"AirFreshener LED is \"+led +\".\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":567.5714416503906,"y":99.85708618164062,"wires":[["79aa189d.202588","f73ae2c.7ce2e2","85284396.2e10b","466b9d60.42ead4","cc381fa7.fd5c08"]]},{"id":"2d1d7a7d.d35b6e","type":"switch","z":"6bdf9c2c.88223c","name":"WhatMessage","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"button","vt":"str"},{"t":"cont","v":"led","vt":"str"},{"t":"cont","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":390.0714416503906,"y":99.60708618164062,"wires":[["ae0ded07.82b4e"],["774e9386.e4def4"],["21f6e7fc.1744f8"],[]]},{"id":"79aa189d.202588","type":"function","z":"6bdf9c2c.88223c","name":"A0","func":"msg.topic = \"A0\";\nmsg.payload = msg.payload.d.val;\nreturn msg;","outputs":1,"noerr":0,"x":688.0000610351562,"y":334.1427917480469,"wires":[["f01ebb20.d250e"]]},{"id":"f73ae2c.7ce2e2","type":"function","z":"6bdf9c2c.88223c","name":"TS","func":"msg.topic = \"ts\";\nmsg.payload = msg.payload.d.ts;\nreturn msg;","outputs":1,"noerr":0,"x":687.0000610351562,"y":373.1427917480469,"wires":[["ceeaf13e.9eb6f"]]},{"id":"e71b6e4f.8bdf08","type":"ibmiot in","z":"6bdf9c2c.88223c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"airfreshener","applicationId":"","deviceType":"photon","eventType":"status","commandType":"","format":"json","name":"From AirFreshener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":182.57144165039062,"y":82.85708618164062,"wires":[["2d1d7a7d.d35b6e","44a8b792.f3c6c8","f73ae2c.7ce2e2"]]},{"id":"ae0ded07.82b4e","type":"function","z":"6bdf9c2c.88223c","name":"SET BUTTON","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\nvar info =msg.payload.d.count;\nmsg.buttcnt = info;\ncontext.global.butcnt= info;\n\nvar buttcnt = context.global.butcnt;\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": context.global.butcnt,\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":589.5714416503906,"y":64.85708618164062,"wires":[["8286388e.4debd"]]},{"id":"21f6e7fc.1744f8","type":"function","z":"6bdf9c2c.88223c","name":"SET STATUS","func":"\ncontext.global.status = \"online\";\n\ncontext.global.butcnt = msg.payload.d.butcnt;\n\nvar text= \"AirFreshener status is online.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":576.8572387695312,"y":139.85701751708984,"wires":[["cc381fa7.fd5c08"]]},{"id":"f01ebb20.d250e","type":"ui_gauge","z":"6bdf9c2c.88223c","tab":"11423f70.af2341","name":"A0","group":"LED","order":1,"format":"{{value}}","min":0,"max":"5000","x":822.5000610351562,"y":332.1427917480469,"wires":[]},{"id":"ceeaf13e.9eb6f","type":"ui_text","z":"6bdf9c2c.88223c","tab":"11423f70.af2341","name":"TS","group":"Status","order":1,"format":"{{msg.payload}}","x":824.5000610351562,"y":373.1427917480469,"wires":[]},{"id":"71497fa7.318438","type":"function","z":"6bdf9c2c.88223c","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"count\"      : context.global.butcnt ,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\"},\n     \n    \"ts\" : now,  \n\n    }};\n    \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\"){\n         newPay.d.action = \"ON\"\n      newPay.d.text = \"Airfreshener connected and online.\";\n    }else\n      newPay.d.text = \"Airfreshener disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n    \n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":435.5714111328125,"y":287.8570861816406,"wires":[["f73ae2c.7ce2e2","cf4f39a2.b5908","6eecb544.c7819c","d0a6450a.357408","85284396.2e10b"]]},{"id":"44a8b792.f3c6c8","type":"debug","z":"6bdf9c2c.88223c","name":"AF-Incoming","active":false,"console":"true","complete":"true","x":380.5714416503906,"y":155.85708618164062,"wires":[]},{"id":"8286388e.4debd","type":"delay","z":"6bdf9c2c.88223c","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830.1430053710938,"y":68.57134246826172,"wires":[["6eecb544.c7819c"]]},{"id":"882f76cf.a8867","type":"inject","z":"6bdf9c2c.88223c","name":"Send context to Watson every 30 Sec","topic":"reset","payload":"MVK","payloadType":"str","repeat":"20","crontab":"","once":true,"x":227.42861938476562,"y":243.428466796875,"wires":[["71497fa7.318438"]]},{"id":"cf4f39a2.b5908","type":"function","z":"6bdf9c2c.88223c","name":"SET STATUS","func":"//context.global.led = \"off\";\ncontext.global.prevstatus = context.global.status;\n\ncontext.global.status = \"offline\";\ncontext.global.led = \"off\";\n//context.global.myName = \"Hans\";\n//context.global.buttcnt = 0;\n\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":430.5714416503906,"y":338.85709381103516,"wires":[[]]},{"id":"6eecb544.c7819c","type":"websocket out","z":"6bdf9c2c.88223c","name":"/toCarDashboard","server":"6b898dfc.8174dc","client":"","x":831.0714721679688,"y":147.92847442626953,"wires":[]},{"id":"d0a6450a.357408","type":"debug","z":"6bdf9c2c.88223c","name":"Context","active":true,"console":"true","complete":"true","x":411.3214111328125,"y":416.1070861816406,"wires":[]},{"id":"85284396.2e10b","type":"function","z":"6bdf9c2c.88223c","name":"status","func":"msg.topic = \"Status\";\nmsg.payload = context.global.status;\nreturn msg;","outputs":1,"noerr":0,"x":690.0000610351562,"y":416.1427917480469,"wires":[["5a255ca7.4f3a1c"]]},{"id":"3b47dfa7.fac08","type":"function","z":"6bdf9c2c.88223c","name":"send OFF Update","func":"context.global.butcnt++;\n//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":529.1429138183594,"y":782.8572311401367,"wires":[["3da90884.2d39c8","6eecb544.c7819c"]]},{"id":"5a255ca7.4f3a1c","type":"ui_text","z":"6bdf9c2c.88223c","tab":"11423f70.af2341","name":"Status","group":"Status","order":1,"format":"{{msg.payload}}","x":823.5000610351562,"y":417.1427917480469,"wires":[]},{"id":"cc047a72.8ef7e8","type":"inject","z":"6bdf9c2c.88223c","name":"Manual Button Pressed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201.14291381835938,"y":783.8572311401367,"wires":[["3b47dfa7.fac08"]]},{"id":"c8cf02a1.f0fb1","type":"comment","z":"6bdf9c2c.88223c","name":"AF Mesage every 10 Sec + On Demand","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":229.57144165039062,"y":41.857086181640625,"wires":[]},{"id":"31e82fb6.b6d0a8","type":"comment","z":"6bdf9c2c.88223c","name":"Test Speaking","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":150.14291381835938,"y":738.8572311401367,"wires":[]},{"id":"b3a24594.fd8c98","type":"comment","z":"6bdf9c2c.88223c","name":"Set global Context","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":586.5714721679688,"y":20,"wires":[]},{"id":"3da90884.2d39c8","type":"debug","z":"6bdf9c2c.88223c","name":"Speak via CarDashboard","active":true,"console":"true","complete":"payload","x":878.0000610351562,"y":782.8572616577148,"wires":[]},{"id":"466b9d60.42ead4","type":"debug","z":"6bdf9c2c.88223c","name":"toCrDashboard","active":false,"console":"true","complete":"true","x":851.3928833007812,"y":192.35714721679688,"wires":[]},{"id":"739f348e.cdfa7c","type":"function","z":"6bdf9c2c.88223c","name":"send BOTTON Update","func":"\nvar text= \"Your AirFreshener Button was pressed \"+context.global.butcnt +\" times manually.\"\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": +context.global.butcnt,\n    //context.global.butcnt\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":555,"y":704,"wires":[["6eecb544.c7819c","e3ae439.bbf544"]]},{"id":"5dbb0873.1f89f8","type":"function","z":"6bdf9c2c.88223c","name":"send LED Update","func":"\nvar text= \"AirFreshener L.E.D. is \"+context.global.led +\".\"\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"led\",\n       \"speak\": 1,\n    \"dir\": context.global.led,\n    \"ts\" : now,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":534,"y":657,"wires":[["6eecb544.c7819c"]]},{"id":"cc381fa7.fd5c08","type":"function","z":"6bdf9c2c.88223c","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"count\"      :  context.global.butcnt,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\"},\n     \n    \"ts\" : now,  \n\n    }};\n \n/*     \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\")\n      newPay.d.text = \"Airfreshener connected and online.\";\n    else\n      newPay.d.text = \"Airfreshener disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n  \ncontext.global.prevstatus = context.global.status;\n*/\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":592,"y":186,"wires":[["6eecb544.c7819c"]]},{"id":"e22114d7.c95608","type":"ibmiot out","z":"6bdf9c2c.88223c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"airfreshener","deviceType":"photon","eventCommandType":"spray","format":"json","data":"msg.payload","qos":0,"name":"Send to AirFreshener","service":"registered","x":918,"y":710,"wires":[]},{"id":"cc897a3d.a3a828","type":"inject","z":"6bdf9c2c.88223c","name":"Status of AF","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":169,"y":899,"wires":[["81fa2d17.9de35"]]},{"id":"81fa2d17.9de35","type":"function","z":"6bdf9c2c.88223c","name":"connected Update no need to send anymore","func":"\nvar text= \"Your AirFreshener is \"+context.global.status +\".\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : context.global.led, //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"status\",\n    \"dir\":\"\",\n    \"speak\": 1,\n    \"ts\" : now,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":585,"y":864,"wires":[["6eecb544.c7819c"]]},{"id":"5a354837.5ea938","type":"inject","z":"6bdf9c2c.88223c","name":"Send button to CAR","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":192.5,"y":737.5,"wires":[["739f348e.cdfa7c"]]},{"id":"11423f70.af2341","type":"ui_tab","z":"6bdf9c2c.88223c","name":"AriFreshenerNew","icon":"dashboard","order":"1"},{"id":"6b898dfc.8174dc","type":"websocket-listener","z":"","path":"/toCarDashboard","wholemsg":"false"}]
