defaults/flow2.json
[{"id":"ee2b11d8.53107","type":"function","z":"2f1dd590.652e72","name":"send OFF Update","func":"context.global.butcnt++;\n//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":654.0000305175781,"y":860.0000915527344,"wires":[["a82d26b.9040158","23db973b.342618"]]},{"id":"5ab16450.df15e4","type":"inject","z":"2f1dd590.652e72","name":"Manual Button Pressed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":326.0000305175781,"y":861.0000915527344,"wires":[["ee2b11d8.53107"]]},{"id":"ffe8c7e8.8b8fd","type":"comment","z":"2f1dd590.652e72","name":"Test Speaking","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":275.0000305175781,"y":816.0000915527344,"wires":[]},{"id":"a82d26b.9040158","type":"debug","z":"2f1dd590.652e72","name":"Speak via CarDashboard","active":true,"console":"true","complete":"payload","x":1002.857177734375,"y":860.0001220703125,"wires":[]},{"id":"23db973b.342618","type":"websocket out","z":"2f1dd590.652e72","name":"/toCarDashboard","server":"a145b171.dbdc58","client":"","x":992.857177734375,"y":934.2858276367188,"wires":[]},{"id":"a145b171.dbdc58","type":"websocket-listener","z":"f19e0273.13d4a8","path":"/toCarDashboard","wholemsg":"false"}]
