defaults/flow.json
[{"id":"d9b6dc32.0ef1d8","type":"ibmiot in","z":"2f1dd590.652e72","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":285.85711669921875,"y":605.8571853637695,"wires":[["bb73a525.34e84"]]},{"id":"72e14205.747f9c","type":"ibmiot out","z":"2f1dd590.652e72","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"team1","deviceType":"gladectrl","eventCommandType":"spray","format":"json","data":"1","qos":0,"name":"Send to AirFreshener","service":"registered","x":1217.5714111328125,"y":738.1429443359375,"wires":[]},{"id":"a2f92c3a.dc5c98","type":"debug","z":"2f1dd590.652e72","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":964.8571166992188,"y":675,"wires":[]},{"id":"330d75a4.605e12","type":"function","z":"2f1dd590.652e72","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":661.8571166992188,"y":606.8571853637695,"wires":[["389e815c.83e98e","3f069850.ba51b"]]},{"id":"bb73a525.34e84","type":"function","z":"2f1dd590.652e72","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":468.85711669921875,"y":606.8571853637695,"wires":[["330d75a4.605e12"]]},{"id":"589b92b1.48f9dc","type":"comment","z":"2f1dd590.652e72","name":"Incoming MSG from Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":338.85711669921875,"y":554.8571853637695,"wires":[]},{"id":"2c2021a0.df67ae","type":"inject","z":"2f1dd590.652e72","name":"Send On/Spray to AF","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":330.35711669921875,"y":760.357177734375,"wires":[["40222599.1c0bd4"]]},{"id":"389e815c.83e98e","type":"switch","z":"2f1dd590.652e72","name":"What","property":"payload.appliance","propertyType":"msg","rules":[{"t":"eq","v":"LED","vt":"str"},{"t":"eq","v":"AirFreshener","vt":"str"},{"t":"eq","v":"BUTTON","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":276.85711669921875,"y":688.8571853637695,"wires":[[],["76b7d569.bea2ec"],[],[]]},{"id":"40222599.1c0bd4","type":"function","z":"2f1dd590.652e72","name":"send ON/SPRAY","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n       \"speak\": 0,\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":669.8571166992188,"y":671.8571853637695,"wires":[["c7735ce2.58bee","a2f92c3a.dc5c98"]]},{"id":"12f7a739.accdf1","type":"comment","z":"2f1dd590.652e72","name":"Send updates to Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":961.4285888671875,"y":187.142822265625,"wires":[]},{"id":"c7735ce2.58bee","type":"delay","z":"2f1dd590.652e72","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":972.3571166992188,"y":739.3214721679688,"wires":[["72e14205.747f9c"]]},{"id":"3f069850.ba51b","type":"debug","z":"2f1dd590.652e72","name":"WAResponse","active":true,"console":"true","complete":"payload","x":969.8571166992188,"y":605.8571853637695,"wires":[]},{"id":"76b7d569.bea2ec","type":"switch","z":"2f1dd590.652e72","name":"Status","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"af_on","vt":"str"},{"t":"eq","v":"af_connected","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":433.85711669921875,"y":681.8571853637695,"wires":[["40222599.1c0bd4"],[],[]]},{"id":"96b682dd.a88de","type":"inject","z":"2f1dd590.652e72","name":"Set global vars","topic":"Init","payload":"MVK","payloadType":"str","repeat":"","crontab":"","once":true,"x":305.4285583496094,"y":377.9999465942383,"wires":[["a5048226.425ff8"]]},{"id":"a5048226.425ff8","type":"function","z":"2f1dd590.652e72","name":"SET STATUS","func":"context.global.led = \"off\";\ncontext.global.status = \"offline\";\ncontext.global.prevstatus = \"offline\";\ncontext.global.myName = \"Hans\";\ncontext.global.butcnt = 0;\ncontext.global.butmancnt = 0;\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":299.4285583496094,"y":422.9999465942383,"wires":[[]]},{"id":"21fc96a9.94fb0a","type":"comment","z":"2f1dd590.652e72","name":"DashBoard - /ui","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":812.857177734375,"y":338.28564453125,"wires":[]},{"id":"8dc67a4a.966048","type":"ui_button","z":"2f1dd590.652e72","tab":"1c3b1a9e.4b936d","name":"Button","payload":"spary","topic":"Spray","group":"Spray","order":"4","x":942.9285888671875,"y":509.4286193847656,"wires":[["40222599.1c0bd4"]]},{"id":"90b1c680.456038","type":"function","z":"2f1dd590.652e72","name":"SET LED","func":"/*{ \"d\": { \"led\": \"on\", \"tick\": 14, \"ts\": 1474419208 } }\n*/\n\nvar info =msg.payload.d.led;\nmsg.led = info;\n\n\ncontext.global.led = info;\ncontext.global.status = \"online\";\n\nvar led = context.global.led;\n\nvar text= \"AirFreshener LED is \"+led +\".\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":692.4285583496094,"y":176.99994659423828,"wires":[["8c47ae9d.c1dbc","23ad97ed.f9866","4125b8b6.bd9c2","ff6cc0f9.268d5","a05bc258.3ed19"]]},{"id":"673d4bf5.6bc14c","type":"switch","z":"2f1dd590.652e72","name":"WhatMessage","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"button","vt":"str"},{"t":"cont","v":"led","vt":"str"},{"t":"cont","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":514.9285583496094,"y":176.74994659423828,"wires":[["d94f392c.a2da"],["90b1c680.456038"],["d8c85325.d79aa"],[]]},{"id":"8c47ae9d.c1dbc","type":"function","z":"2f1dd590.652e72","name":"A0","func":"msg.topic = \"A0\";\nmsg.payload = msg.payload.d.val;\nreturn msg;","outputs":1,"noerr":0,"x":812.857177734375,"y":374.28564453125,"wires":[["24fb9dce.832452"]]},{"id":"23ad97ed.f9866","type":"function","z":"2f1dd590.652e72","name":"TS","func":"msg.topic = \"ts\";\nmsg.payload = msg.payload.d.ts;\nreturn msg;","outputs":1,"noerr":0,"x":811.857177734375,"y":413.28564453125,"wires":[["4e0be20c.3ae4cc"]]},{"id":"2a2e34b9.72106c","type":"ibmiot in","z":"2f1dd590.652e72","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"team1","applicationId":"","deviceType":"gladectrl","eventType":"status","commandType":"","format":"json","name":"From AirFreshener","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":307.4285583496094,"y":159.99994659423828,"wires":[["673d4bf5.6bc14c","5fbe83b2.2ae89c","23ad97ed.f9866"]]},{"id":"d94f392c.a2da","type":"function","z":"2f1dd590.652e72","name":"SET BUTTON","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\nvar info =msg.payload.d.count;\nmsg.buttcnt = info;\ncontext.global.buttcnt = info;\n\nvar buttcnt = context.global.buttcnt;\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": context.global.buttcnt,\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":714.4285583496094,"y":141.99994659423828,"wires":[["d3f14a8b.381928"]]},{"id":"d8c85325.d79aa","type":"function","z":"2f1dd590.652e72","name":"SET STATUS","func":"\ncontext.global.status = \"online\";\n\ncontext.global.buttcnt = msg.payload.d.butcnt;\n\nvar text= \"AirFreshener status is online.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":701.71435546875,"y":216.9998779296875,"wires":[["ff6cc0f9.268d5"]]},{"id":"24fb9dce.832452","type":"ui_gauge","z":"2f1dd590.652e72","tab":"1c3b1a9e.4b936d","name":"A0","group":"LED","order":1,"format":"{{value}}","min":0,"max":"5000","x":947.357177734375,"y":372.28564453125,"wires":[]},{"id":"4e0be20c.3ae4cc","type":"ui_text","z":"2f1dd590.652e72","tab":"1c3b1a9e.4b936d","name":"TS","group":"Status","order":1,"format":"{{msg.payload}}","x":949.357177734375,"y":413.28564453125,"wires":[]},{"id":"bd42300e.08357","type":"function","z":"2f1dd590.652e72","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"butcnt\"      : context.global.butcnt ,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\"},\n     \n    \"ts\" : now,  \n\n    }};\n    \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\"){\n         newPay.d.action = \"ON\"\n      newPay.d.text = \"Airfreshener connected and online.\";\n    }else\n      newPay.d.text = \"Airfreshener disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n    \n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":561.4285583496094,"y":336.9999465942383,"wires":[["23ad97ed.f9866","5846c351.acd2f4","ff6cc0f9.268d5","4b6eee91.b5baf","4125b8b6.bd9c2"]]},{"id":"5fbe83b2.2ae89c","type":"debug","z":"2f1dd590.652e72","name":"AF-Incoming","active":true,"console":"true","complete":"payload","x":505.4285583496094,"y":232.99994659423828,"wires":[]},{"id":"d3f14a8b.381928","type":"delay","z":"2f1dd590.652e72","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":955.0001220703125,"y":145.71420288085938,"wires":[["ff6cc0f9.268d5"]]},{"id":"8254e049.14e548","type":"inject","z":"2f1dd590.652e72","name":"Send context to Watson every 30 Sec","topic":"reset","payload":"MVK","payloadType":"str","repeat":"20","crontab":"","once":true,"x":371.2857360839844,"y":297.5713195800781,"wires":[["bd42300e.08357"]]},{"id":"5846c351.acd2f4","type":"function","z":"2f1dd590.652e72","name":"SET STATUS","func":"//context.global.led = \"off\";\ncontext.global.prevstatus = context.global.status;\n\ncontext.global.status = \"offline\";\ncontext.global.led = \"off\";\n//context.global.myName = \"Hans\";\n//context.global.buttcnt = 0;\n\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":555.4285583496094,"y":378.9999465942383,"wires":[[]]},{"id":"ff6cc0f9.268d5","type":"websocket out","z":"2f1dd590.652e72","name":"/toCarDashboard","server":"a145b171.dbdc58","client":"","x":955.9285888671875,"y":225.0713348388672,"wires":[]},{"id":"4b6eee91.b5baf","type":"debug","z":"2f1dd590.652e72","name":"Context","active":true,"console":"true","complete":"true","x":542.4285583496094,"y":414.9999465942383,"wires":[]},{"id":"4125b8b6.bd9c2","type":"function","z":"2f1dd590.652e72","name":"status","func":"msg.topic = \"Status\";\nmsg.payload = context.global.status;\nreturn msg;","outputs":1,"noerr":0,"x":814.857177734375,"y":456.28564453125,"wires":[["b8b8e038.810ea"]]},{"id":"ee2b11d8.53107","type":"function","z":"2f1dd590.652e72","name":"send OFF Update","func":"context.global.butcnt++;\n//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":654.0000305175781,"y":860.0000915527344,"wires":[["a82d26b.9040158","23db973b.342618"]]},{"id":"b8b8e038.810ea","type":"ui_text","z":"2f1dd590.652e72","tab":"1c3b1a9e.4b936d","name":"Status","group":"Status","order":1,"format":"{{msg.payload}}","x":948.357177734375,"y":457.28564453125,"wires":[]},{"id":"5ab16450.df15e4","type":"inject","z":"2f1dd590.652e72","name":"Manual Button Pressed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":326.0000305175781,"y":861.0000915527344,"wires":[["ee2b11d8.53107"]]},{"id":"e7a5753e.284428","type":"comment","z":"2f1dd590.652e72","name":"AF Mesage every 10 Sec + On Demand","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":354.4285583496094,"y":118.99994659423828,"wires":[]},{"id":"ffe8c7e8.8b8fd","type":"comment","z":"2f1dd590.652e72","name":"Test Speaking","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":275.0000305175781,"y":816.0000915527344,"wires":[]},{"id":"caa31aa7.aff1e8","type":"comment","z":"2f1dd590.652e72","name":"Set global Context","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":711.4285888671875,"y":97.14286041259766,"wires":[]},{"id":"a82d26b.9040158","type":"debug","z":"2f1dd590.652e72","name":"Speak via CarDashboard","active":true,"console":"true","complete":"payload","x":1002.857177734375,"y":860.0001220703125,"wires":[]},{"id":"23db973b.342618","type":"websocket out","z":"2f1dd590.652e72","name":"/toCarDashboard","server":"a145b171.dbdc58","client":"","x":992.857177734375,"y":934.2858276367188,"wires":[]},{"id":"a05bc258.3ed19","type":"debug","z":"2f1dd590.652e72","name":"toCrDashboard","active":true,"console":"true","complete":"true","x":952.5,"y":276.25,"wires":[]},{"id":"1c3b1a9e.4b936d","type":"ui_tab","z":"2f1dd590.652e72","name":"AriFreshenerNew","icon":"dashboard","order":"1"},{"id":"a145b171.dbdc58","type":"websocket-listener","z":"f19e0273.13d4a8","path":"/toCarDashboard","wholemsg":"false"}]
