defaults/flow.json
[{"id":"d9b6dc32.0ef1d8","type":"ibmiot in","z":"43a4bda7.dd2f04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":287.10711669921875,"y":205.85720825195312,"wires":[["bb73a525.34e84"]]},{"id":"72e14205.747f9c","type":"ibmiot out","z":"43a4bda7.dd2f04","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"airfeshener","deviceType":"photon","eventCommandType":"spray","format":"json","data":"msg.payload","qos":0,"name":"Send to AirFreshener","service":"registered","x":1218.8214111328125,"y":338.1429672241211,"wires":[]},{"id":"a2f92c3a.dc5c98","type":"debug","z":"43a4bda7.dd2f04","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":966.1071166992188,"y":275.0000228881836,"wires":[]},{"id":"330d75a4.605e12","type":"function","z":"43a4bda7.dd2f04","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":663.1071166992188,"y":206.85720825195312,"wires":[["389e815c.83e98e","3f069850.ba51b"]]},{"id":"bb73a525.34e84","type":"function","z":"43a4bda7.dd2f04","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":470.10711669921875,"y":206.85720825195312,"wires":[["330d75a4.605e12"]]},{"id":"589b92b1.48f9dc","type":"comment","z":"43a4bda7.dd2f04","name":"Incoming MSG from Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":340.10711669921875,"y":154.85720825195312,"wires":[]},{"id":"2c2021a0.df67ae","type":"inject","z":"43a4bda7.dd2f04","name":"Send On/Spray to AF","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":331.60711669921875,"y":360.3572006225586,"wires":[["40222599.1c0bd4"]]},{"id":"389e815c.83e98e","type":"switch","z":"43a4bda7.dd2f04","name":"What","property":"payload.appliance","propertyType":"msg","rules":[{"t":"eq","v":"LED","vt":"str"},{"t":"eq","v":"AirFreshener","vt":"str"},{"t":"eq","v":"BUTTON","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":278.10711669921875,"y":288.8572082519531,"wires":[[],["76b7d569.bea2ec"],[],[]]},{"id":"40222599.1c0bd4","type":"function","z":"43a4bda7.dd2f04","name":"send ON/SPRAY","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n       \"speak\": 0,\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":671.1071166992188,"y":271.8572082519531,"wires":[["c7735ce2.58bee","a2f92c3a.dc5c98"]]},{"id":"c7735ce2.58bee","type":"delay","z":"43a4bda7.dd2f04","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":973.6071166992188,"y":339.32149505615234,"wires":[["72e14205.747f9c"]]},{"id":"3f069850.ba51b","type":"debug","z":"43a4bda7.dd2f04","name":"WAResponse","active":true,"console":"true","complete":"payload","x":971.1071166992188,"y":205.85720825195312,"wires":[]},{"id":"76b7d569.bea2ec","type":"switch","z":"43a4bda7.dd2f04","name":"Status","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"af_on","vt":"str"},{"t":"eq","v":"af_connected","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":435.10711669921875,"y":281.8572082519531,"wires":[["40222599.1c0bd4"],[],[]]},{"id":"ee2b11d8.53107","type":"function","z":"43a4bda7.dd2f04","name":"send OFF Update","func":"context.global.butcnt++;\n//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":663.0277404785156,"y":655.5557174682617,"wires":[["a82d26b.9040158","23db973b.342618"]]},{"id":"5ab16450.df15e4","type":"inject","z":"43a4bda7.dd2f04","name":"Manual Button Pressed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":335.0277404785156,"y":656.5557174682617,"wires":[["ee2b11d8.53107"]]},{"id":"ffe8c7e8.8b8fd","type":"comment","z":"43a4bda7.dd2f04","name":"Test Speaking","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":284.0277404785156,"y":611.5557174682617,"wires":[]},{"id":"a82d26b.9040158","type":"debug","z":"43a4bda7.dd2f04","name":"Speak via CarDashboard","active":true,"console":"true","complete":"payload","x":1011.8848876953125,"y":655.5557479858398,"wires":[]},{"id":"8dc67a4a.966048","type":"ui_button","z":"43a4bda7.dd2f04","tab":"1c3b1a9e.4b936d","name":"Button","payload":"spary","topic":"Spray","group":"Spray","order":"4","x":944.1785888671875,"y":109.42864227294922,"wires":[["40222599.1c0bd4"]]},{"id":"922808da.701f1","type":"switch","z":"43a4bda7.dd2f04","name":"WhatMessage","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"button","vt":"str"},{"t":"cont","v":"led","vt":"str"},{"t":"cont","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":521.5277404785156,"y":527.5278244018555,"wires":[[],["8872e9cc.383a4"],[],[]]},{"id":"129f8f6f.743949","type":"ibmiot in","z":"43a4bda7.dd2f04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"airfreshener","applicationId":"","deviceType":"photon","eventType":"status","commandType":"","format":"json","name":"From AirFreshener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":314.0277404785156,"y":510.77782440185547,"wires":[["922808da.701f1","6c6c6061.a3977"]]},{"id":"6c6c6061.a3977","type":"debug","z":"43a4bda7.dd2f04","name":"AF-Incoming","active":false,"console":"true","complete":"payload","x":512.0277404785156,"y":583.7778244018555,"wires":[]},{"id":"44c497dd.ec49f8","type":"debug","z":"43a4bda7.dd2f04","name":"toCrDashboard","active":false,"console":"true","complete":"true","x":959.0992431640625,"y":528.1389083862305,"wires":[]},{"id":"23db973b.342618","type":"websocket out","z":"43a4bda7.dd2f04","name":"/toCarDashboard","server":"a145b171.dbdc58","client":"","x":1001.8848876953125,"y":729.8414535522461,"wires":[]},{"id":"8872e9cc.383a4","type":"function","z":"43a4bda7.dd2f04","name":"SET LED","func":"/*{ \"d\": { \"led\": \"on\", \"tick\": 14, \"ts\": 1474419208 } }\n*/\n\nvar info =msg.payload.d.led;\nmsg.led = info;\n\n\ncontext.global.led = info;\ncontext.global.status = \"online\";\n\nvar led = context.global.led;\n\nvar text= \"AirFreshener LED is \"+led +\".\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":699.0277404785156,"y":527.7778244018555,"wires":[["44c497dd.ec49f8"]]},{"id":"7aba735.22bc98c","type":"comment","z":"43a4bda7.dd2f04","name":"Incoming form AF","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":303.47216796875,"y":453.3333053588867,"wires":[]},{"id":"1c3b1a9e.4b936d","type":"ui_tab","z":"2f1dd590.652e72","name":"AriFreshenerNew","icon":"dashboard","order":"1"},{"id":"a145b171.dbdc58","type":"websocket-listener","z":"f19e0273.13d4a8","path":"/toCarDashboard","wholemsg":"false"}]
