defaults/flow2.json
[{"id":"f946b263.8bcd88","type":"tab","label":"Flow 2"},{"id":"dfe8c2a5.ac4538","type":"ibmiot in","z":"f946b263.8bcd88","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":246.88886260986328,"y":549.8254432678223,"wires":[["3ca8aa9b.54cbbe"]]},{"id":"b7c5488c.7f4b5","type":"debug","z":"f946b263.8bcd88","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":925.8888626098633,"y":618.9682579040527,"wires":[]},{"id":"2860b129.e082de","type":"function","z":"f946b263.8bcd88","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":622.8888626098633,"y":550.8254432678223,"wires":[["5833a31c.21f1cc","cad30930.022b9"]]},{"id":"3ca8aa9b.54cbbe","type":"function","z":"f946b263.8bcd88","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":429.8888626098633,"y":550.8254432678223,"wires":[["2860b129.e082de"]]},{"id":"aae09143.a91cb8","type":"comment","z":"f946b263.8bcd88","name":"Incoming MSG from Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":299.8888626098633,"y":498.82544326782227,"wires":[]},{"id":"61737ee8.60297","type":"inject","z":"f946b263.8bcd88","name":"Send On/Spray to AF","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":291.3888626098633,"y":704.3254356384277,"wires":[["447d22f7.d5c504"]]},{"id":"5833a31c.21f1cc","type":"switch","z":"f946b263.8bcd88","name":"What","property":"payload.appliance","propertyType":"msg","rules":[{"t":"eq","v":"LED","vt":"str"},{"t":"eq","v":"AirFreshener","vt":"str"},{"t":"eq","v":"BUTTON","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":237.88886260986328,"y":632.8254432678223,"wires":[["cdb2172a.6178e"],["469ff63e.535e9"],["e04acde6.cc478"],[]]},{"id":"447d22f7.d5c504","type":"function","z":"f946b263.8bcd88","name":"send ON/SPRAY","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\nmsg.deviceId = \"airfreshener\";\nmsg.deviceType = \"photon\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n       \"speak\": 0,\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":630.8888626098633,"y":615.8254432678223,"wires":[["aae1f8ce.9446c8"]]},{"id":"782d5f34.33df7","type":"comment","z":"f946b263.8bcd88","name":"Send updates to Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":922.460334777832,"y":131.11108016967773,"wires":[]},{"id":"aae1f8ce.9446c8","type":"delay","z":"f946b263.8bcd88","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":933.3888626098633,"y":683.2897300720215,"wires":[["b7c5488c.7f4b5","c2f874d5.a25218"]]},{"id":"cad30930.022b9","type":"debug","z":"f946b263.8bcd88","name":"WAResponse","active":true,"console":"true","complete":"payload","x":930.8888626098633,"y":549.8254432678223,"wires":[]},{"id":"469ff63e.535e9","type":"switch","z":"f946b263.8bcd88","name":"Status","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"af_on","vt":"str"},{"t":"eq","v":"af_connected","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":394.8888626098633,"y":625.8254432678223,"wires":[["447d22f7.d5c504"],[],[]]},{"id":"d0b350a9.de8358","type":"inject","z":"f946b263.8bcd88","name":"Set global vars","topic":"Init","payload":"MVK","payloadType":"str","repeat":"","crontab":"","once":true,"x":266.4603042602539,"y":358.96821212768555,"wires":[["a9361065.35a9c"]]},{"id":"a9361065.35a9c","type":"function","z":"f946b263.8bcd88","name":"SET STATUS","func":"context.global.led = \"off\";\ncontext.global.status = \"offline\";\ncontext.global.prevstatus = \"offline\";\ncontext.global.myName = \"Hans\";\ncontext.global.butcnt = 0;\ncontext.global.butmancnt = 0;\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":260.4603042602539,"y":403.96821212768555,"wires":[[]]},{"id":"1dcfe4e7.ba628b","type":"comment","z":"f946b263.8bcd88","name":"DashBoard - /ui","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":773.8889236450195,"y":319.25391006469727,"wires":[]},{"id":"fd94e448.487d88","type":"ui_button","z":"f946b263.8bcd88","tab":"abe8b2fd.70a5e","name":"Button","payload":"spary","topic":"Spray","group":"Spray","order":"4","x":903.960334777832,"y":490.3968849182129,"wires":[["447d22f7.d5c504"]]},{"id":"6c5c6c20.759abc","type":"function","z":"f946b263.8bcd88","name":"SET LED","func":"/*{ \"d\": { \"led\": \"on\", \"tick\": 14, \"ts\": 1474419208 } }\n*/\n\nvar info =msg.payload.d.led;\nmsg.led = info;\n\n\ncontext.global.led = info;\ncontext.global.status = \"online\";\n\nvar led = context.global.led;\n\nvar text= \"AirFreshener LED is \"+led +\".\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":653.4603042602539,"y":120.96820449829102,"wires":[["f54b7465.371718","28075f02.46d178","8203a9d.6683258","31ded045.fa98a8","db86782f.ce1d5"]]},{"id":"51edfea8.8c0e1","type":"switch","z":"f946b263.8bcd88","name":"WhatMessage","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"button","vt":"str"},{"t":"cont","v":"led","vt":"str"},{"t":"cont","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":475.9603042602539,"y":120.71820449829102,"wires":[["c5c7cec0.4d69c"],["6c5c6c20.759abc"],["af289e88.7334"],[]]},{"id":"f54b7465.371718","type":"function","z":"f946b263.8bcd88","name":"A0","func":"msg.topic = \"A0\";\nmsg.payload = msg.payload.d.val;\nreturn msg;","outputs":1,"noerr":0,"x":773.8889236450195,"y":355.25391006469727,"wires":[["48c86bd4.4efb1c"]]},{"id":"28075f02.46d178","type":"function","z":"f946b263.8bcd88","name":"TS","func":"msg.topic = \"ts\";\nmsg.payload = msg.payload.d.ts;\nreturn msg;","outputs":1,"noerr":0,"x":772.8889236450195,"y":394.25391006469727,"wires":[["df71da62.148268"]]},{"id":"70639c38.32b444","type":"ibmiot in","z":"f946b263.8bcd88","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"airfreshener","applicationId":"","deviceType":"photon","eventType":"status","commandType":"","format":"json","name":"From AirFreshener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":268.4603042602539,"y":103.96820449829102,"wires":[["51edfea8.8c0e1","1ee84577.7631cb","28075f02.46d178"]]},{"id":"c5c7cec0.4d69c","type":"function","z":"f946b263.8bcd88","name":"SET BUTTON","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\nvar info =msg.payload.d.count;\nmsg.buttcnt = info;\ncontext.global.butcnt= info;\n\nvar buttcnt = context.global.butcnt;\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": context.global.butcnt,\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":675.4603042602539,"y":85.96820449829102,"wires":[["7e3927f6.728d5"]]},{"id":"af289e88.7334","type":"function","z":"f946b263.8bcd88","name":"SET STATUS","func":"\ncontext.global.status = \"online\";\n\ncontext.global.buttcnt = msg.payload.d.butcnt;\n\nvar text= \"AirFreshener status is online.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":662.7461013793945,"y":160.96813583374023,"wires":[["db86782f.ce1d5"]]},{"id":"48c86bd4.4efb1c","type":"ui_gauge","z":"f946b263.8bcd88","tab":"abe8b2fd.70a5e","name":"A0","group":"LED","order":1,"format":"{{value}}","min":0,"max":"5000","x":908.3889236450195,"y":353.25391006469727,"wires":[]},{"id":"df71da62.148268","type":"ui_text","z":"f946b263.8bcd88","tab":"abe8b2fd.70a5e","name":"TS","group":"Status","order":1,"format":"{{msg.payload}}","x":910.3889236450195,"y":394.25391006469727,"wires":[]},{"id":"ae68ee19.0505c","type":"function","z":"f946b263.8bcd88","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"count\"      : context.global.butcnt ,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\"},\n     \n    \"ts\" : now,  \n\n    }};\n    \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\"){\n         newPay.d.action = \"ON\"\n      newPay.d.text = \"Airfreshener connected and online.\";\n    }else\n      newPay.d.text = \"Airfreshener disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n    \n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":521.4602737426758,"y":308.968204498291,"wires":[["28075f02.46d178","dc0246dc.469a58","a33f7e72.a1c9f","64155302.61d474","8203a9d.6683258"]]},{"id":"1ee84577.7631cb","type":"debug","z":"f946b263.8bcd88","name":"AF-Incoming","active":false,"console":"true","complete":"payload","x":466.4603042602539,"y":176.96820449829102,"wires":[]},{"id":"7e3927f6.728d5","type":"delay","z":"f946b263.8bcd88","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":916.031867980957,"y":89.68246078491211,"wires":[["a33f7e72.a1c9f"]]},{"id":"1e1b1949.d01797","type":"inject","z":"f946b263.8bcd88","name":"Send context to Watson every 30 Sec","topic":"reset","payload":"MVK","payloadType":"str","repeat":"20","crontab":"","once":true,"x":313.3174819946289,"y":264.5395851135254,"wires":[["ae68ee19.0505c"]]},{"id":"dc0246dc.469a58","type":"function","z":"f946b263.8bcd88","name":"SET STATUS","func":"//context.global.led = \"off\";\ncontext.global.prevstatus = context.global.status;\n\ncontext.global.status = \"offline\";\ncontext.global.led = \"off\";\n//context.global.myName = \"Hans\";\n//context.global.buttcnt = 0;\n\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":516.4603042602539,"y":359.96821212768555,"wires":[[]]},{"id":"a33f7e72.a1c9f","type":"websocket out","z":"f946b263.8bcd88","name":"/toCarDashboard","server":"6b898dfc.8174dc","client":"","x":936.9603271484375,"y":199.0395965576172,"wires":[]},{"id":"64155302.61d474","type":"debug","z":"f946b263.8bcd88","name":"Context","active":true,"console":"true","complete":"true","x":503.4603042602539,"y":395.96821212768555,"wires":[]},{"id":"8203a9d.6683258","type":"function","z":"f946b263.8bcd88","name":"status","func":"msg.topic = \"Status\";\nmsg.payload = context.global.status;\nreturn msg;","outputs":1,"noerr":0,"x":775.8889236450195,"y":437.25391006469727,"wires":[["680cc5f7.e70b24"]]},{"id":"234be3c0.bb6a1c","type":"function","z":"f946b263.8bcd88","name":"send OFF Update","func":"context.global.butcnt++;\n//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":615.0317764282227,"y":803.9683494567871,"wires":[["83f866e4.9bd3a","31ded045.fa98a8"]]},{"id":"680cc5f7.e70b24","type":"ui_text","z":"f946b263.8bcd88","tab":"abe8b2fd.70a5e","name":"Status","group":"Status","order":1,"format":"{{msg.payload}}","x":909.3889236450195,"y":438.25391006469727,"wires":[]},{"id":"2496ff04.2d16d8","type":"inject","z":"f946b263.8bcd88","name":"Manual Button Pressed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":287.03177642822266,"y":804.9683494567871,"wires":[["234be3c0.bb6a1c"]]},{"id":"b75a4b24.7273a","type":"comment","z":"f946b263.8bcd88","name":"AF Mesage every 10 Sec + On Demand","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":165.46034240722656,"y":56.30154037475586,"wires":[]},{"id":"145ec19c.422bfe","type":"comment","z":"f946b263.8bcd88","name":"Test Speaking","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":236.03177642822266,"y":759.9683494567871,"wires":[]},{"id":"8cd2ef7b.eae518","type":"comment","z":"f946b263.8bcd88","name":"Set global Context","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":672.460334777832,"y":41.11111831665039,"wires":[]},{"id":"83f866e4.9bd3a","type":"debug","z":"f946b263.8bcd88","name":"Speak via CarDashboard","active":true,"console":"true","complete":"payload","x":963.8889236450195,"y":803.9683799743652,"wires":[]},{"id":"31ded045.fa98a8","type":"debug","z":"f946b263.8bcd88","name":"toCrDashboard","active":false,"console":"true","complete":"true","x":913.5317459106445,"y":257.21826553344727,"wires":[]},{"id":"e04acde6.cc478","type":"function","z":"f946b263.8bcd88","name":"send BOTTON Update","func":"\nvar text= \"AirFreshener Button was pressed \"+context.global.buttcnt +\" times manually.\"\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": +context.global.buttcnt,\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":642.8888626098633,"y":699.1111183166504,"wires":[["a33f7e72.a1c9f"]]},{"id":"cdb2172a.6178e","type":"function","z":"f946b263.8bcd88","name":"send LED Update","func":"\nvar text= \"AirFreshener L.E.D. is \"+context.global.led +\".\"\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"led\",\n       \"speak\": 1,\n    \"dir\": context.global.led,\n    \"ts\" : now,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":639.8888626098633,"y":663.1111183166504,"wires":[["a33f7e72.a1c9f"]]},{"id":"db86782f.ce1d5","type":"function","z":"f946b263.8bcd88","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"count\"      :  context.global.butcnt,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\"},\n     \n    \"ts\" : now,  \n\n    }};\n \n/*     \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\")\n      newPay.d.text = \"Airfreshener connected and online.\";\n    else\n      newPay.d.text = \"Airfreshener disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n  \ncontext.global.prevstatus = context.global.status;\n*/\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":677.8888626098633,"y":207.1111183166504,"wires":[["a33f7e72.a1c9f"]]},{"id":"c2f874d5.a25218","type":"ibmiot out","z":"f946b263.8bcd88","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"airfreshener","deviceType":"photon","eventCommandType":"spray","format":"json","data":"msg.payload","qos":0,"name":"Send to AirFreshener","service":"registered","x":1003.8888626098633,"y":731.1111183166504,"wires":[]},{"id":"abe8b2fd.70a5e","type":"ui_tab","z":"f946b263.8bcd88","name":"AriFreshenerNew","icon":"dashboard","order":"1"},{"id":"6b898dfc.8174dc","type":"websocket-listener","z":"","path":"/toCarDashboard","wholemsg":"false"}]
