defaults/flow.json
[{"id":"d9b6dc32.0ef1d8","type":"ibmiot in","z":"43a4bda7.dd2f04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":250.10711669921875,"y":208.85720825195312,"wires":[["bb73a525.34e84"]]},{"id":"72e14205.747f9c","type":"ibmiot out","z":"43a4bda7.dd2f04","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"airfeshener","deviceType":"photon","eventCommandType":"spray","format":"json","data":"msg.payload","qos":0,"name":"Send to AirFreshener","service":"registered","x":986.8214111328125,"y":376.1429748535156,"wires":[]},{"id":"a2f92c3a.dc5c98","type":"debug","z":"43a4bda7.dd2f04","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":966.1071166992188,"y":275.0000228881836,"wires":[]},{"id":"330d75a4.605e12","type":"function","z":"43a4bda7.dd2f04","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":663.1071166992188,"y":206.85720825195312,"wires":[["389e815c.83e98e","3f069850.ba51b"]]},{"id":"bb73a525.34e84","type":"function","z":"43a4bda7.dd2f04","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":470.10711669921875,"y":206.85720825195312,"wires":[["330d75a4.605e12"]]},{"id":"589b92b1.48f9dc","type":"comment","z":"43a4bda7.dd2f04","name":"Incoming MSG from Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":340.10711669921875,"y":154.85720825195312,"wires":[]},{"id":"2c2021a0.df67ae","type":"inject","z":"43a4bda7.dd2f04","name":"Send On/Spray to AF","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":331.60711669921875,"y":360.3572006225586,"wires":[["40222599.1c0bd4"]]},{"id":"389e815c.83e98e","type":"switch","z":"43a4bda7.dd2f04","name":"What","property":"payload.appliance","propertyType":"msg","rules":[{"t":"eq","v":"LED","vt":"str"},{"t":"eq","v":"AirFreshener","vt":"str"},{"t":"eq","v":"BUTTON","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":278.10711669921875,"y":288.8572082519531,"wires":[["aa4e19a3.31024"],["76b7d569.bea2ec"],["763296d2.9f6278"],[]]},{"id":"40222599.1c0bd4","type":"function","z":"43a4bda7.dd2f04","name":"send ON/SPRAY","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n       \"speak\": 0,\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":671.1071166992188,"y":265.8572082519531,"wires":[["c7735ce2.58bee","a2f92c3a.dc5c98"]]},{"id":"c7735ce2.58bee","type":"delay","z":"43a4bda7.dd2f04","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":973.6071166992188,"y":339.32149505615234,"wires":[["72e14205.747f9c"]]},{"id":"3f069850.ba51b","type":"debug","z":"43a4bda7.dd2f04","name":"WAResponse","active":true,"console":"true","complete":"payload","x":971.1071166992188,"y":205.85720825195312,"wires":[]},{"id":"76b7d569.bea2ec","type":"switch","z":"43a4bda7.dd2f04","name":"Status","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"af_on","vt":"str"},{"t":"eq","v":"af_connected","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":435.10711669921875,"y":281.8572082519531,"wires":[["40222599.1c0bd4"],[],[]]},{"id":"ee2b11d8.53107","type":"function","z":"43a4bda7.dd2f04","name":"send OFF Update","func":"context.global.butcnt++;\n//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":667.4720153808594,"y":460.0001525878906,"wires":[["a82d26b.9040158","957a8f48.17fc78"]]},{"id":"5ab16450.df15e4","type":"inject","z":"43a4bda7.dd2f04","name":"Manual Button Pressed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":339.4720153808594,"y":461.0001525878906,"wires":[["ee2b11d8.53107"]]},{"id":"ffe8c7e8.8b8fd","type":"comment","z":"43a4bda7.dd2f04","name":"Test Speaking","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":288.4720153808594,"y":416.0001525878906,"wires":[]},{"id":"a82d26b.9040158","type":"debug","z":"43a4bda7.dd2f04","name":"Speak via CarDashboard","active":true,"console":"true","complete":"payload","x":1034.10693359375,"y":460.00018310546875,"wires":[]},{"id":"771291fe.42c7e8","type":"comment","z":"43a4bda7.dd2f04","name":"Send updates to Watson","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":972.2222290039062,"y":661.1111450195312,"wires":[]},{"id":"c6c9bc5e.22bf58","type":"function","z":"43a4bda7.dd2f04","name":"SET LED","func":"/*{ \"d\": { \"led\": \"on\", \"tick\": 14, \"ts\": 1474419208 } }\n*/\n\nvar info =msg.payload.d.led;\nmsg.led = info;\n\n\ncontext.global.led = info;\ncontext.global.status = \"online\";\n\nvar led = context.global.led;\n\nvar text= \"AirFreshener LED is \"+led +\".\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":703.2221984863281,"y":650.9682693481445,"wires":[["3428d4a7.071b5c"]]},{"id":"4d2088fc.153888","type":"switch","z":"43a4bda7.dd2f04","name":"WhatMessage","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"button","vt":"str"},{"t":"cont","v":"led","vt":"str"},{"t":"cont","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":525.7221984863281,"y":650.7182693481445,"wires":[["ae6d2779.6969e8"],["c6c9bc5e.22bf58"],["c4173152.369308"],[]]},{"id":"78a3e8e6.03c4","type":"ibmiot in","z":"43a4bda7.dd2f04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"airfreshener","applicationId":"","deviceType":"photon","eventType":"status","commandType":"","format":"json","name":"From AirFreshener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":318.2221984863281,"y":633.9682693481445,"wires":[["4d2088fc.153888","e3024daf.62f9"]]},{"id":"ae6d2779.6969e8","type":"function","z":"43a4bda7.dd2f04","name":"SET BUTTON","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"AirFreshener button was triggered manually.\";\nvar info =msg.payload.d.count;\nmsg.buttcnt = info;\ncontext.global.buttcnt = info;\n\nvar buttcnt = context.global.buttcnt;\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": context.global.buttcnt,\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":725.2221984863281,"y":615.9682693481445,"wires":[["b937eaa5.5fecc","5aeec3ca.e63834"]]},{"id":"c4173152.369308","type":"function","z":"43a4bda7.dd2f04","name":"SET STATUS","func":"\ncontext.global.status = \"online\";\n\ncontext.global.buttcnt = msg.payload.d.butcnt;\n\nvar text= \"AirFreshener status is online.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":712.5079956054688,"y":690.9682006835938,"wires":[["3428d4a7.071b5c"]]},{"id":"e3024daf.62f9","type":"debug","z":"43a4bda7.dd2f04","name":"AF-Incoming","active":false,"console":"true","complete":"payload","x":516.2221984863281,"y":706.9682693481445,"wires":[]},{"id":"b937eaa5.5fecc","type":"delay","z":"43a4bda7.dd2f04","name":"Let Watson Speak","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":965.7937622070312,"y":619.6825256347656,"wires":[[]]},{"id":"c971d302.00ae6","type":"comment","z":"43a4bda7.dd2f04","name":"AF Mesage every x Sec + On Demand","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":365.2221984863281,"y":592.9682693481445,"wires":[]},{"id":"9902bb80.245ab8","type":"comment","z":"43a4bda7.dd2f04","name":"Set global Context","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":722.2222290039062,"y":571.1111831665039,"wires":[]},{"id":"4f4a7d26.80d604","type":"debug","z":"43a4bda7.dd2f04","name":"toCrDashboard","active":false,"console":"true","complete":"true","x":963.2936401367188,"y":750.2183227539062,"wires":[]},{"id":"78a3c4b7.22dc3c","type":"inject","z":"43a4bda7.dd2f04","name":"Set global vars","topic":"Init","payload":"MVK","payloadType":"str","repeat":"","crontab":"","once":true,"x":302.22222900390625,"y":681.1111450195312,"wires":[["b44bb53d.378988"]]},{"id":"b44bb53d.378988","type":"function","z":"43a4bda7.dd2f04","name":"SET STATUS","func":"context.global.led = \"off\";\ncontext.global.status = \"offline\";\ncontext.global.prevstatus = \"offline\";\ncontext.global.myName = \"Hans\";\ncontext.global.butcnt = 0;\ncontext.global.butmancnt = 0;\nvar text= \"AirFreshener status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":296.22222900390625,"y":726.1111450195312,"wires":[[]]},{"id":"957a8f48.17fc78","type":"websocket out","z":"43a4bda7.dd2f04","name":"","server":"6b898dfc.8174dc","client":"","x":995.5,"y":514.5,"wires":[]},{"id":"aa4e19a3.31024","type":"function","z":"43a4bda7.dd2f04","name":"send LED Update","func":"\nvar text= \"AirFreshener L.E.D. is \"+context.global.led +\".\"\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"led\",\n       \"speak\": 1,\n    \"dir\": context.global.led,\n    \"ts\" : now,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":671,"y":305,"wires":[[]]},{"id":"3428d4a7.071b5c","type":"function","z":"43a4bda7.dd2f04","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"count\"      :  context.global.buttcnt,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\"},\n     \n    \"ts\" : now,  \n\n    }};\n \n     \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\")\n      newPay.d.text = \"Airfreshener connected and online.\";\n    else\n      newPay.d.text = \"Airfreshener disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n  \ncontext.global.prevstatus = context.global.status;\n\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":737,"y":746,"wires":[["4f4a7d26.80d604"]]},{"id":"5aeec3ca.e63834","type":"debug","z":"43a4bda7.dd2f04","name":"toCrDashboard","active":true,"console":"true","complete":"true","x":956,"y":583,"wires":[]},{"id":"763296d2.9f6278","type":"function","z":"43a4bda7.dd2f04","name":"send BOTTON Update","func":"\nvar text= \"AirFreshener Button was pressed \"+context.global.buttcnt +\" times manually.\"\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"AirFreshener\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"count\": +context.global.buttcnt,\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":674,"y":341,"wires":[[]]},{"id":"6b898dfc.8174dc","type":"websocket-listener","z":"","path":"/toCarDashboard","wholemsg":"false"}]
